<!DOCTYPE html>
<html lang="sk"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Stefan Korecko" />
    <link rel="stylesheet"
          href="/css/gamestudio.css"
          media="screen" />
</head>

<body>
<nav th:replace="fragments/fragments :: nav"/>
<header th:replace="fragments/fragments :: header" />

<main layout:fragment="content"></main>

<div th:replace="fragments/fragments :: comments(${AllComments})" />
<!--<div th:replace="fragments/fragments :: scores" />-->

<footer th:replace="fragments/fragments :: footer" />
</body>
</html>