<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="sk">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<!--fragment header -->
<header th:fragment="header">

    <div class="banner"><span class="bannertext">Game Studio</span></div>


</header>

<div th:fragment="boxMessagesForUser" id="boxMessagesForUser">
    <h4>Messages for user:</h4>
    <ul>
        <li th:each="contact : ${@systemMessageController.getMessagesForUserAndDeleteThem()}">
            <th:block th:text=${contact}></th:block>
        </li>
    </ul>

</div>

<!--fragment aside, bocny stlpec-->
<aside th:fragment="aside">
    <h1 th:if="not ${@userController.logged}">Vitajte v <a href="/">Gamestudio!</a></h1>

    <!--blok sa nezobrazi ak dodam do template-u cez model hodnotu true, inak sa zobrazi stale
-dovod: na stranke /registration nechcem zobrazovat login formular-->
    <th:block th:if="${!#bools.isTrue(hideLoginForm)}">
        <div th:if="${@userController.logged}">
            Prihlásený/á ako: <span th:text="${@userController.loggedUser}"/>
            <a href="/logout">Odhlásiť sa</a>
        </div>

        <div th:if="not ${@userController.logged}">
            Neprihlásený/á. Prosím, prihlaste sa, alebo sa
            <a href="/registration">zaregistrujte.</a>.
        </div>
        <form th:if="not ${@userController.logged}" action="/login" method="post">
            <label for="login">Meno:</label> <input id="login" type="text" name="login"/> <br/>
            <label for="pass">Heslo: </label> <input id="pass" type="password" name="password"/> <br/>
            <button type="submit">Prihlasit sa</button>
        </form>
    </th:block>

</aside>

<!--fragment navigacia-->
<nav th:fragment="nav">
    <div id="menu">

        <ul>
            <!--            <a>Menu: </a>-->
            <li><a href="/">Homepage</a></li>
            <li><a href="/minesweeper">Minesweeper</a></li>
            <li><a href="/kamene">Kamene</a></li>
            <li><a href="/battleships">Battleships</a></li>
            <li><a href="/games">Games</a></li>
            <li><a href="#">Player's Profile</a></li>
            <li><a href="#">About me</a></li>
            <li><a href="#">Contact me</a></li>
        </ul>
    </div>
</nav>


<!--fragment footer-->
<footer th:fragment="footer">

    <p>Toto je Footer</p>

</footer>

<!--fragment comment-->
<div th:fragment="comments(AllComments)">
    <br>
    <h3>Comments:</h3>
    <span style="color:red;">Komenty z fragmentu</span>
    <table class="scores">
        <thead>
        <tr>
            <th> Username</th>
            <th> Comment</th>
            <th> Commented On</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${AllComments==null}">
            <td colspan="2"> Problem s databazou</td>
        </tr>
        <tr th:if="${AllComments!=null and AllComments.empty}">
            <td colspan="2"> No Comments Available</td>
        </tr>
        <tr th:each="item : ${AllComments}">
            <td><span th:text="${item.username}"> </span></td>
            <td><span th:text="${item.comment}">  </span></td>
            <td><span th:text="${item.commentedOn}"> </span></td>
        </tr>
        </tbody>
    </table>
</div>


<!--fragment vypisanie top 5 scores-->
<div th:fragment="scores(TopScores)">
    <br>
    <h3>Scores:</h3>
    <span style="color:red;">Scores z fragmentu</span>
    <table class="scores">
        <thead>
        <tr>
            <th> Username</th>
            <th> Score</th>
            <th> Played On</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${TopScores==null}">
            <td colspan="2"> Problem s databazou</td>
        </tr>
        <tr th:if="${TopScores!=null and TopScores.empty}">
            <td colspan="2"> No Scores Available</td>
        </tr>
        <tr th:each="item : ${TopScores}">
            <td><span th:text="${item.username}">  </span></td>
            <td><span th:text="${item.points}"> </span></td>
            <td><span th:text="${item.playedOn}">  </span></td>
        </tr>
        </tbody>
    </table>
</div>

<!--fragment na vypisanie average rating-->
<div th:fragment="avgrating(AverageRating)">
    <br>
    <h3>Average Rating:</h3>
    <span style="color:red;">AVG Rating z fragmentu</span> <br/>

    <th:block th:if="${AverageRating<0}">
        <span>Problem s databazou</span>
    </th:block>

    <th:block th:if="${AverageRating==0}">
        <span>V databaze nie su ziadne zaznamy</span>
    </th:block>

    <th:block th:if="${AverageRating>0}">
        <span th:text="'Priemerny rating hry je: ' + ${AverageRating}"></span>
    </th:block>
</div>

<!--fragment na odoslanie komentu-->
<div th:fragment="postcomment(GameName)">
    <br>
    <h3>Mozes zadat svoj komentar:</h3>
    <form action='/sendcomment' method="post">
        <input type="hidden" th:value="${GameName}" th:attr="name='gameName'"/>
        <label for="yourcomment">Your Comment:</label>
        <textarea id="yourcomment" maxlength="1000" name="comment"></textarea> <br/>
        <button type="submit">Odoslat</button>
    </form>
</div>

<!--fragment na odoslanie ratingu-->
<div th:fragment="postrating(GameName)">
    <br>
    <h3>Mozes zadat svoj rating hry:</h3>
    <form action="/sendrating" method="post">
        <input type="hidden" th:value="${GameName}" th:attr="name='gameName'"/>
        <label for="yourrating">Your Rating: </label>
        <input id="yourrating" type="number" name="rating" min="1" max="5"/> <br/>
        <button type="submit">Odoslat</button>
    </form>
</div>

</body>
</html>