<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="sk">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<!--fragment header -->
<header th:fragment="header">

    <div class="banner"><span class="bannertext">Game Studio</span></div>

    <h1>Vitajte v <a href="/gamestudio">Gamestudio!</a></h1>

    <div th:if="${@userController.logged}">
        Prihlásený/á ako: <span th:text="${@userController.loggedUser}"/>
        <a href="/logout">Odhlásiť sa</a>
    </div>

    <div th:if="not ${@userController.logged}">
        Neprihlásený/á. Prosím,
        <a href="/gamestudio">prihláste sa</a>.
    </div>
</header>

<!--fragment navigacia-->
<nav th:fragment="nav">
    <div id="menu">

        <ul>
<!--            <a>Menu: </a>-->
            <li><a href="/">Homepage</a></li>
            <li><a href="/minesweeper">Minesweeper</a></li>
            <li><a href="/kamene">Kamene</a></li>
            <li><a href="/games">Games</a></li>
            <li><a href="#">Player's Profile</a></li>
            <li><a href="#">About me</a></li>
            <li><a href="#">Contact me</a></li>
        </ul>
    </div>
</nav>



<!--fragment footer-->
<footer th:fragment="footer">
    <hr>
    <p>Footer: bla bal blab lab lab alab alabl abal</p>
    <hr>
</footer>

<!--fragment comment-->

<div th:fragment="comments(AllComments)">

    <br>
    <h3>Comments:</h3>
    <span style="color:red;">Komenty z fragmentu</span>
    <table class="scores">
        <thead>
        <tr>
            <th> Username </th>
            <th> Comment </th>
            <th> Commented On</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${AllComments==null}">
            <td colspan="2"> Problem s databazou </td>
        </tr>
        <tr th:if="${AllComments!=null and AllComments.empty}">
            <td colspan="2"> No Comments Available </td>
        </tr>
        <tr th:each="item : ${AllComments}">
            <td><span th:text="${item.username}"> </span></td>
            <td><span th:text="${item.comment}">  </span></td>
            <td><span th:text="${item.commentedOn}"> </span></td>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>