<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="sk">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header th:fragment="header">

    <div class="banner"><span class="bannertext">Game Studio</span></div>

    <h1>Vitajte v <a href="/gamestudio">Gamestudio!</a></h1>

    <div th:if="${@userController.logged}">
        Prihlásený/á ako: <span th:text="${@userController.loggedUser}"/>
        <a href="/logout">Odhlásiť sa</a>
    </div>

    <div th:if="not ${@userController.logged}">
        Neprihlásený/á. Prosím,
        <a href="/gamestudio">prihláste sa</a>.
    </div>
</header>

<nav th:fragment="nav">
    <div id="menu">

        <ul>
<!--            <a>Menu: </a>-->
            <li><a href="/gamestudio">Homepage</a></li>
            <li><a href="/minesweeper">Minesweeper</a></li>
            <li><a href="#">Player Profile</a></li>
            <li><a href="#">About me</a></li>
            <li><a href="#">Contact me</a></li>
        </ul>
    </div>
</nav>




<footer th:fragment="footer">
    <hr>
    <p>Footer: bla bal blab lab lab alab alabl abal</p>
    <hr>
</footer>


</body>
</html>