<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layoutGamestudio.html}"
      lang="sk">
<head>
<!--    <meta charset="UTF-8" />-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--    <meta name="author" content="Stefan Korecko" />-->
<!--    <link rel="stylesheet"-->
<!--          href="/css/gamestudio.css"-->
<!--          media="screen" />-->


    <title>GameStudio - Minesweeper</title>
</head>

<body>

<!--<div th:replace="fragments/fragments :: header" />-->
<!--vdaka pouzitie REPLACE tu to nemusi byt header, aj ked to bude div vlozi tam header tag-->

<!--ak tam bude INSERT. insert iba vlozi dovnutra div tag header-->
<!--<div th:insert="fragments/fragments :: header" />-->




<main layout:fragment="content">



<h2>Minesweeper</h2>


<div class="minesControl">


    <span th:if="${@minesweeperController.marking} and ${minesweeperShouldContinue} " >
        Prave oznacujes.
        <a  class="abutton" href="/minesweeper/mark">Zmen na otvaranie.</a>
    </span>

    <span th:if="not ${@minesweeperController.marking} and ${minesweeperShouldContinue}" >
        Prave otvaras.
        <a  class="abutton" href="/minesweeper/mark">Zmen na oznacovanie.</a>
    </span>




    <a  class="abutton" href="/minesweeper/new">Nova hra</a>

</div>


<br>
<div style="color: red;" th:if= "${minesweeperShouldContinue}">
    <p >Hra zacala!!!</p>
</div>

<div style="color: red;" th:if= "not ${minesweeperShouldContinue}">

    <p th:if="${minesweeperWinLose == 2}">  Hru si prehral, nie je mozne dalej hrat.</p>
    <p th:if="${minesweeperWinLose == 1}">  Hru si vyhral, nie je mozne dalej hrat.</p>

    <p th:text="'Tvoje skore je: ' + ${minesweeperPlayerScore}"></p>
</div>
<br>



<!--<div th:utext="${@minesweeperController.fieldAsHtml}"></div>-->



<div>
    <table class='minefield'>
        <tr th:each="row: ${minesweeperField}">
            <td th:each="tile: ${row}"
                th:attr="class=${@minesweeperController.getTileClass(tile)}">

                <a th:if="${minesweeperShouldContinue}"  th:attr="href='/minesweeper/?row='+${rowStat.index}+'&column='+${tileStat.index}">
                    <span th:text="${@minesweeperController.getTileText(tile)}"></span>
                </a>

                <a th:if= "not ${minesweeperShouldContinue}"  >
                    <span th:text="${@minesweeperController.getTileText(tile)}"></span>
                </a>
            </td>
        </tr>
    </table>
</div>






<br>
<table class="scores">
    <thead>
    <tr>
        <th> Username </th>
        <th> Score </th>
        <th> Played On</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${minesweeperTopScores.empty}">
        <td colspan="2"> No Scores Available </td>
    </tr>
    <tr th:each="book : ${minesweeperTopScores}">
        <td><span th:text="${book.username}"> Username </span></td>
        <td><span th:text="${book.points}"> Score </span></td>
        <td><span th:text="${book.playedOn}"> Played On </span></td>
    </tr>
    </tbody>
</table>


    <!--<div th:text="${1+2}"></div>-->
    <!--<div th:text="${@minesweeperController.getCurrTime()}"></div>-->
    <!--<div th:text="${@minesweeperController.currTime}"></div>-->

<!--<footer th:replace="fragments/fragments :: footer" />-->
</main>
</body>
</html>