<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layoutGamestudio.html}"
      lang="sk">
<head>
    <title>GameStudio - Minesweeper</title>
</head>

<body>

<main layout:fragment="content">
    <h2>Toto je registracny formular</h2>
    <p>Zadaj svoje data</p>.
    <form th:if="not ${@userController.logged}" action="/registernew" method="post">

        <label for="idUserName">Tvoj Username (max. 32 znakov):</label>
        <input id="idUserName" type="text" name="userName" maxlength="32"/>
        <br/> <br/>

        <label for="idFullName">Tvoj Fullname (max. 128 znakov, zvysok bude orezany):</label>
        <input id="idFullName" type="text" name="fullName" maxlength="128"/>
        <br/><br/>

        <label for="idPass">Tvoje heslo (min. 8 a max. 32 znakov):</label>
        <input id="idPass" type="password" name="password" minlength="8" maxlength="32"/>
        <br/><br/>

        <label for="idSelfEvaluation">Tvoj SelfEvaluation:</label>
        <input id="idSelfEvaluation" type="number" name="selfEvaluation" value="1" onKeyDown="return false"
               min="1" max="5"/>
        <br/><br/>

        <label for="idCountryDownList">Tvoje Country:</label>
        <select class="form-control" id="idCountryDownList" name="countryName">
            <option disabled selected="selected">Vyber zo zoznamu</option>
            <option th:each="country : ${countries}" th:value="${country.country}"
                    th:text="${country.country}"></option>
        </select>
        <br/><br/>

        <label for="idOccupationDownList">Tvoje Occupation:</label>
        <select class="form-control" id="idOccupationDownList" name="occupationName">
            <option disabled selected="selected">Vyber zo zoznamu</option>
            <option th:each="occupation : ${occupations}" th:value="${occupation.occupation}"
                    th:text="${occupation.occupation}"></option>
        </select>
        <br/><br/>

        <button type="submit">Odoslat registraciu</button>
    </form>
</main>

</body>
</html>